# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# User Database / State Files
# I am ignoring these so data isn't pushed to GitHub
server/data/users.json
server/data/progress.json

# IDE / OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Old Node.js artifacts (just in case)
node_modules/
npm-debug.log*
package-lock.json

# For easyly runing I have add run.bat thats why 
run.bat